/* LoadingSpinner Styles - Split Lease */

.loading-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 40px;
}

.loading-spinner-container.small {
  padding: 20px;
}

.loading-spinner-container.large {
  padding: 60px;
}

.loading-spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small .loading-spinner {
  width: 32px;
  height: 32px;
}

.medium .loading-spinner {
  width: 48px;
  height: 48px;
}

.large .loading-spinner {
  width: 64px;
  height: 64px;
}

.spinner-ring {
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  animation: spinnerRotate 1.5s linear infinite;
}

.small .spinner-ring {
  border-width: 2px;
}

.large .spinner-ring {
  border-width: 4px;
}

.spinner-ring:nth-child(1) {
  width: 100%;
  height: 100%;
  border-top-color: #3182ce;
  animation-duration: 1.2s;
}

.spinner-ring:nth-child(2) {
  width: 75%;
  height: 75%;
  border-right-color: #38b2ac;
  animation-duration: 1.5s;
  animation-direction: reverse;
}

.spinner-ring:nth-child(3) {
  width: 50%;
  height: 50%;
  border-bottom-color: #805ad5;
  animation-duration: 1s;
}

@keyframes spinnerRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-message {
  font-size: 14px;
  color: #718096;
  margin: 0;
  text-align: center;
}

.small .loading-message {
  font-size: 12px;
}

.large .loading-message {
  font-size: 16px;
}
